apiVersion: apps/v1                                                         # Versão da API do Kubernetes usada para criar Deployments
kind: Deployment                                                            # Tipo do objeto: Deployment cria réplicas e faz rollout
metadata:
  name: fcg-orders                                                           # Nome do Deployment

spec:
  replicas: 1                                                               # Quantas réplicas (pods) deseja rodar
  selector:                                                                 # Selector: identifica quais pods pertencem a este Deployment
    matchLabels:
      app: fcg-orders

  template:                                                                 # Template: modelo usado para criar cada Pod
    metadata:
      labels:                                                               # Labels aplicadas nos Pods criados
        app: fcg-orders

    spec:
      containers:                                                           # Lista de containers dentro do Pod
        - name: fcg-orders-container                                         # Nome do container
          image: acrfcg.azurecr.io/fiapcloudgames/orders/api:${IMAGE_TAG}    # Imagem do container no ACR
          ports:                                                            # Porta exposta internamente no container
            - containerPort: 8080
          env:
            # from ConfigMap
            - name: NEW_RELIC_APP_NAME
              valueFrom:
                configMapKeyRef:
                  name: fcg-orders-config
                  key: NEW_RELIC_APP_NAME

            - name: NewRelic__Enabled
              valueFrom:
                configMapKeyRef:
                  name: fcg-orders-config
                  key: NewRelic__Enabled

            - name: NewRelic__Endpoint
              valueFrom:
                configMapKeyRef:
                  name: fcg-orders-config
                  key: NewRelic__Endpoint

            - name: AspNetCore_Environment
              valueFrom:
                configMapKeyRef:
                  name: fcg-orders-config
                  key: AspNetCore_Environment
            
            - name: ElasticApm__ServiceName
              valueFrom:
                configMapKeyRef:
                  name: fcg-orders-config
                  key: ElasticApm__ServiceName   

            # from Secret
            - name: ConnectionStrings__FCGUsersDbConnection
              valueFrom:
                secretKeyRef:
                  name: fcg-orders-secret
                  key: ConnectionStrings__FCGUsersDbConnection

            - name: ConnectionString__FCGServiceBusConnection
              valueFrom:
                secretKeyRef:
                  name: fcg-orders-secret
                  key: ConnectionString__FCGServiceBusConnection

            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: fcg-orders-secret
                  key: NEW_RELIC_LICENSE_KEY
            
            - name: GamesApi__AuthToken
              valueFrom:
                secretKeyRef:
                  name: fcg-orders-secret
                  key: GamesApi__AuthToken

            - name: GamesApi__SubscriptionKey
              valueFrom:
                secretKeyRef:
                  name: fcg-orders-secret
                  key: GamesApi__SubscriptionKey
